---
import Layout from '@/layouts/Layout.astro';
import { DateSchema } from '@/schemas/DateSchema';

const { day: rawDay, month: rawMonth, year: rawYear } = Astro.params;

const parsedData = DateSchema.safeParse({
  day: Number(rawDay),
  month: Number(rawMonth),
  year: Number(rawYear),
});
if (!parsedData.success) {
  console.log(parsedData.error.errors);
  throw new Error('Invalid parameters');
}

const { data } = parsedData;

const date = new Date(data.year, data.month - 1, data.day);
if (date.toString() === 'Invalid Date') {
  throw new Error('Invalid date');
}

const day = date.getDate();
const month = date.getMonth() + 1;
const year = date.getFullYear();
---

<Layout
  title={`Date ${date.toDateString()}`}
  description={`Shows info about the date ${date.toDateString()}.`}
>
  <div transition:name={`day-${day}-${month}-${year}`}>
    {date.toDateString()}
  </div>
</Layout>
