---
import { MonthSchema } from '@/schemas/DateSchema';
import CalendarDay from './CalendarDay.astro';

const { searchParams } = Astro.url;

const getDateBySearchParams = (searchParams: URLSearchParams) => {
  const rawMonth = searchParams.get('month');
  const rawYear = searchParams.get('year');

  if (!rawMonth || !rawYear) {
    return new Date();
  }

  const parsedDate = MonthSchema.safeParse({
    month: Number(rawMonth),
    year: Number(rawYear),
  });
  if (!parsedDate.success) {
    console.log(parsedDate.error.errors);
    throw new Error('Invalid date');
  }

  const { month, year } = parsedDate.data;

  return new Date(year, month - 1, 1);
};

const date = getDateBySearchParams(searchParams);

const year = date.getFullYear();
const month = date.getMonth();
const daysInMonth = new Date(year, month + 1, 0).getDate();

const getFirstDay = (year: number, month: number) => {
  const day = new Date(year, month, 1).getDay();
  return day === 0 ? 7 : day;
};

const firstDay = getFirstDay(year, month);

const prevMonth = new Date(year, month - 1, 1);
const prevMonthYear = prevMonth.getFullYear();
const prevMonthMonth = prevMonth.getMonth();
const nextMonth = new Date(year, month + 1, 1);

const getMonthName = (date: Date) => {
  return date.toLocaleDateString('default', {
    month: 'long',
    year: 'numeric',
  });
};

const today = new Date();
---

<div class="flex flex-wrap justify-between gap-4 py-4 items-center">
  <a
    id="prev-month"
    href={`/?month=${prevMonth.getMonth() + 1}&year=${prevMonth.getFullYear()}`}
    class="text-xl"
  >
    {getMonthName(prevMonth)}
  </a>
  <h1 class="text-4xl">
    {getMonthName(date)}
  </h1>
  <a
    id="next-month"
    href={`/?month=${nextMonth.getMonth() + 1}&year=${nextMonth.getFullYear()}`}
    class="text-xl"
  >
    {getMonthName(nextMonth)}
  </a>
</div>
<div class="grid grid-cols-7 gap-4">
  {
    firstDay > 0 &&
      Array(firstDay - 1)
        .fill(null)
        .map((_, index) => {
          const day = new Date(year, month, 0).getDate() - index;
          return (
            <CalendarDay
              day={day}
              month={prevMonthMonth}
              year={prevMonthYear}
              isOtherMonth
            />
          );
        })
        .reverse()
  }
  {
    Array(daysInMonth)
      .fill(null)
      .map((_, index) => (
        <CalendarDay
          day={index + 1}
          month={month}
          year={year}
          today={today}
          firstDay={firstDay}
        />
      ))
  }
  {
    Array(7 - ((firstDay + daysInMonth - 1) % 7))
      .fill(null)
      .map((_, index) => {
        const day = new Date(year, month, 0).getDate() - index;
        return (
          <CalendarDay
            day={day}
            month={prevMonthMonth}
            year={prevMonthYear}
            isOtherMonth
          />
        );
      })
  }
</div>
<script>
  document.addEventListener('astro:page-load', () => {
    const prevMonthButton = document.getElementById('prev-month');
    const nextMonthButton = document.getElementById('next-month');

    if (!prevMonthButton || !nextMonthButton) {
      return;
    }

    const removeTransitionDay = () => {
      document.cookie = `transitionDay='6'; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;`;
    };

    prevMonthButton.addEventListener('click', removeTransitionDay);
    nextMonthButton.addEventListener('click', removeTransitionDay);
  });
</script>
